#swirl_unknowns_container code {
	font-size: 12px;
}

#swirl_unknowns_container h3 {
	border-bottom: 1px solid;
	font-size: 110%;
	margin-bottom: 7px;
	padding-bottom: 4px;
}

#swirl_unknowns_container strong {
	font-weight: bold;
}

#swirl_page {
	font-family: monospace;
	font-size: 1.2em;
	margin-bottom: 5px;
	width: 50%;
}

#swirl_unknowns_container ul li {
	list-style: circle;
	margin-left: 20px;
}

#confirmation {
	color: #090;
	margin-left: 10px;
}