code {
	font-size: 12px;
}

h3 {
	border-bottom: 1px solid;
	font-size: 110%;
	margin-bottom: 7px;
	padding-bottom: 4px;
}

strong {
	font-weight: bold;
}

#redir_page {
	font-family: monospace;
	font-size: 1.2em;
	width: 50%;
}

.allowed_pages li {
	list-style: circle;
	margin-left: 15px;
}

#confirmation {
	color: #090;
	margin-left: 10px;
}