#container {
	margin-bottom: 10px;
	padding: 0;
}

code {
	background: #ddd;
	color: #000;
	font-size: 1.2em;
}

h3 {
	border-bottom: 1px solid;
	font-size: 110%;
	margin-bottom: 7px;
	padding-bottom: 2px;
	width: 50%;
}

.allowed_pages li {
	font-family: monospace;
	font-size: 1.2em;
	list-style: circle;
	margin-left: 15px;
}

.notes li {
	list-style: square;
	margin-left: 15px;
}

strong {
	font-variant: small-caps;
	font-weight: bold;
}

/*-----------------------------------------
   confirmations
------------------------------------------*/

#aap_confirmation {
	color: #090;
	display: inline;
	margin-left: 2px;
}

#swirl_confirmation {
	color: #090;
	float: right;
	margin-right: 5px;
}

/*-----------------------------------------
   forms
------------------------------------------*/

#aap_form {
	display: inline;
}

#another_allowed_page {
	font-family: monospace;
	width: 20%;
}

#swirl_form fieldset {
	width: 50%;
}

#swirl_form #submit {
	float: right;
}

#swirl_page {
	font-family: monospace;
	font-size: 1.2em;
	width: 83%;
}