#bbreplies { list-style-type: katakana; }
.bbreply {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 10px;
	margin: 10px 0;
	background: #fff;
	min-height: 120px;
	overflow: auto;
}
.poster em {
	float: right;
}
.avatar {
	float: left;
	padding: 2px;
	border: solid 1px #ddd;
	margin: 5px 15px 15px 5px;
}